<h1>To Do</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %>
        <%= link_to 'âœ', edit_task_path(task.id) %>
        <%= check_box_tag "completed", value=task.completed, task.completed  %>
        <%= link_to 'ðŸ—‘', task_path(task) , method: :delete %>
    </li>
  <% end %>
</ul>

<h5><%= link_to 'new task', new_task_path %></h5>
